@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

body {
background-image: url('https://images-ext-2.discordapp.net/external/TKF4C1rvjoonBW9rE2cWqOaopjTZRkr63JOnnyAbJls/%3Fcrop%3Dfaces%252Cedges%26cs%3Dtinysrgb%26fit%3Dcrop%26fm%3Djpg%26ixid%3DMnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjQ4ODI2NzM0%26ixlib%3Drb-1.2.1%26q%3D60%26w%3D1200%26auto%3Dformat%26h%3D630%26mark-w%3D64%26mark-align%3Dtop%252Cleft%26mark-pad%3D50%26blend-mode%3Dnormal%26blend-alpha%3D10%26blend-w%3D1%26mark%3Dhttps%253A%252F%252Fimages.unsplash.com%252Fopengraph%252Flogo.png%26blend%3D000000/https/images.unsplash.com/photo-1524592714635-d77511a4834d');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 60%;
}

.header .container{
    padding-top: 2%;
    margin: auto;
    width: 60%;
    text-align: center;
}

.header .container .col-sm-12{
    text-align: center;
}

.header .container p{
    font-size: 25px; 
    margin-top: -2%;
    position: relative;
    left: 16%;
}

@media only screen and (max-width: 1600px) {
    .header .container p{
        left: 20%;
    }
}


.box {
    text-align: center;
    border-radius: 10px;
    width: 1000px;
    height: 350px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: auto;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.main .button {
    text-align:center;
    width: 140px;
    height: 45px;
    font-family: 'Prompt', sans-serif;
    font-size: 11px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
/* .button {
    text-align:center;
    width: 140px;
    height: 45px;
    font-family: 'Prompt', sans-serif;
    font-size: 11px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #B486FF ;
    border: none;
    border-radius: 54px 0px 0px 0px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none; 
}*/
.roundTrip{
    background-color: #B486FF ;
    border-radius: 54px 0px 0px 0px;
}
.oneWay{
    border-radius: 0px 54px 0px 0px;
    background-color: #E1E1E1 ;
}

/* .button:hover {
    background-color: black;
    box-shadow: 0px 15px 20px rgba(77, 77, 77, 0.4);
    color: #fff;
    transform: translateY(-7px);
} */